@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.hero{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(45deg,#010785,#490d61);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
}
.hero h1{
    font-size: 45px;
    font-weight: 500;
    margin-top: -50px;
    margin-bottom: 50px;
}
.hero h1 span{
    color: #ff2963;
}
textarea{
    width:600px;
    height: 250px;
    background-color: #403d84;
    color: #fff;
    font-size: 15px;
    border: 0;
    outline: 0;
    padding: 20px;
    border-radius: 10px;
    resize: none;
    margin-bottom: 30px;
}
textarea::placeholder{
    font-size: 15px;
    color: #ddd;
}
.row{
    width: 600px;
    display: flex;
    align-items: center;
    gap: 20px;
}
button{
    background-color: #ff2963;
    color: #fff;
    font-size: 1rem;
    border: none;
    outline: none;
    border-radius: 35px;
    padding: 10px 30px;
    cursor: pointer;
}
button i{
    margin-right: 10px;
}
select{
    flex: 1;
    height: 50px;
    background-color: #403d84;
    color: #fff;
    padding: 0 20px;
    border: 0;
    outline: 0;
    border-radius: 35px;
    appearance: none;
    background-image: url("images/chevron-down-solid.svg");
    background-repeat: no-repeat;
    background-size: 15px;
    background-position-x:425px;
    background-position-y:20px;
}