@keyframes shake {
    0% {
        transform: translateX(0);
        border: 1.5px solid red;

    }

    25% {
        transform: translateX(-2px);
        border: 1.5px solid red;
    }

    50% {
        transform: translateX(0);
        border: 1.5px solid red;
    }

    75% {
        transform: translateX(2px);
        border: 1.5px solid red;
    }

    100% {
        transform: translateX(0);
        border: 1.5px solid red;
    }
}